{{! Шаблон полной информацией о кинофильме }}

{{! В процессе 
(https://developers.themoviedb.org/3/movies/get-movie-details пишет ошибку 503
API KEY 6a2ef13a57616b6abb93fc4394172b01
}}
<div class='modal-card'>

</div>