$color-main: #ffffff;
//bg
$secondary-bg: #0000008f;
//bg button
$btn-bg-accent: #ff6b01;
// accent
$color-accent: #ff6b08;
$color-warning-accent: #ff001b;
//text color
$primary-text-color: #000000;
$secondary-text-color: #545454;
// fonts
$main-font: 'Roboto', sans-serif;
$main-font-size: 12px;
$secondary-font-size: 14px;
