<header class="header header__bg-home">
	<div class="header__container">
		<nav class="navigation">

			<button class="button">
				<!-- svg для картинки перед текстом Filmoteka -->
				<span class="logo-text">Filmoteka</span>
			</button>

			<!-- кнопки навигации. добавить class current page -->
			<div>
				<button class="button button__home " type="button">HOME</button>
				<button class="button button__myLibrary " type="button">MY LIBRARY</button>
			</div>

		</nav>

		<form class="form">
			<input class="form__input" type="text" name="query" placeholder="Type for search" autocomplete="off">
			<button class="button button__submit" type="submit">
				<!-- svg для картинки поиска -->
			</button>
		</form>
	</div>

	<div class="nav-library">
		<button class="button button__watched" type="button">WATCHED</button>
		<button class="button button__queue" type="button">QUEUE</button>
	</div>
</header>